<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
      {{#if env.DOCSEARCH_ENABLED}}
        <div class="navbar-item">
          <input id="search-input" type="text" placeholder="Search docs">
        </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Here</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://nickhardiman.netlify.app/fedora-on-rpi4/dev/index.html">Fedora on a Raspberry Pi 4</a>
            <a class="navbar-item" href="https://nickhardiman.netlify.app/infrastructure-as-code/dev/index.html">Infrastructure as code</a>
            <a class="navbar-item" href="https://nickhardiman.netlify.app/rhel8-on-pn50/dev/index.html">RHEL8 on PN50</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Elsewhere</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://www.linkedin.com/in/nick-hardiman-at-im/">LinkedIn</a>
            <a class="navbar-item" href="https://github.com/nickhardiman">GitHub</a>
          </div>
        </div>
        <a class="navbar-item" href="https://nickhardiman.netlify.app/">Home</a>
      </div>
    </div>
  </nav>
</header>
